[Unit]
Description=Apache HTTP server with PHP 5.6
After=docker.service
BindTo=docker.service

[Service]
ExecStart=/usr/bin/docker start -a TEMPLATE
ExecStop=/usr/bin/docker stop TEMPLATE

[Install]
WantedBy=multi-user.target
